<section class="content">
    <form method="POST" action="">
      <div class="left">
          <div class="top">
              <h1>Selamat Datang di My<span style="font-weight: bold;">IGS</span></h1>
              <h2>Layanan persekolahan yang mengerti kebutuhanmu.</h2>
          </div>
          <div class="bottom">
              <div class="image">
                  
              </div>
          </div>
      </div>
      <div class="right">
          <div class="inputbox">
              <input id="User" type="username" placeholder="Ketik User ID">
              <label for="User">User ID</label>
          </div>
          <div class="inputbox">
              <input id="Password" type="password" placeholder="Ketik Password">
              <label for="Password">Password</label>
          </div>
          <button id="login">
              Login
          </button>
          <a href="#" id="Register">Belum punya User ID</a>
          <a href="#" id="Forgot">Saya lupa User ID atau Password</a>
      </div>
    </form>

</section>