@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
header div.header--container {
  margin-left: 90px;
  margin-right: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div.header--container div.header--logo {
  background-image: url(assets/igs-logos.png);
  width: 65px;
  height: 65px;
  background-repeat: no-repeat;
  background-size: contain;
}
header div.header--container ul.header--bar {
  width: fit-content;
  display: flex;
  align-items: center;
  list-style: none;
}
header div.header--container ul.header--bar a {
  color: #000000;
  text-decoration: none;
  padding-right: 55px;
}
header div.header--container ul.header--bar a:hover {
  color: gray;
}
header div.header--container div.header--account {
  height: fit-content;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header div.header--container div.header--account div.header--mail {
  height: 24px;
  width: 24px;
  background-image: url(assets/mail-2.svg);
}
header div.header--container div.header--account div.header--mail:hover {
  opacity: 0.5;
}
header div.header--container div.header--account div.header--call {
  height: 24px;
  width: 24px;
  background-image: url(assets/phone-2.svg);
}
header div.header--container div.header--account div.header--call:hover {
  opacity: 0.5;
}
header div.header--container div.header--account div.header--language {
  height: 24px;
  width: 24px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 1000;
}
header div.header--container div.header--account div.header--language:hover {
  opacity: 0.5;
}
header div.header--container div.header--account div.header--prof {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: pink;
}
header div.header--container div.header--account div.profile--chevron {
  height: 24px;
  width: 24px;
  background-image: url(assets/chevron-down.svg);
}
header div.header--container button.hamburger {
  display: none;
}
nav.mobile-nav {
  display: none;
}
section.content {
  padding-top: 120px;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 50px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
section.content div.left h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 70px;
  /* font-weight: 100; */
  margin-bottom: 10px;
}
section.content div.left h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 24px;
  font-family: "Poppins", sans-serif;
}
section.content div.left div.box {
  width: fit-content;
  height: fit-content;
}
section.content div.left div.box div.bar {
  border-radius: 54px;
  border: 1px solid #000000;
  /* background-color: lightblue; */
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 64px;
  width: fit-content;
  padding-left: 30px;
  padding-right: 30px;
}
section.content div.left div.box div.bar a {
  text-decoration: none;
  color: #000000;
}
section.content div.left div.box div.bar:hover {
  background-color: gray;
}
section.content div.right {
  width: 400px;
  height: fit-content;
  /* background-color: #1d324f; */
}
section.content div.right div.info h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 21px;
}
section.content div.right div.shelf {
  width: 100%;
  height: fit-content;
  margin-top: 20px;
}
section.content div.right div.shelf div.tabungan {
  height: 240px;
  border-radius: 12px;
}
section.content div.right div.shelf div.tabungan div.top {
  height: 50%;
  border-bottom: 1px solid #4b4a54;
  background-color: #4b4a54;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
}
section.content div.right div.shelf div.tabungan div.top div.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
section.content div.right div.shelf div.tabungan div.top div.left div.profile {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 14px;
}
section.content div.right div.shelf div.tabungan div.top div.left div.quantity {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: #fff;
}
section.content div.right div.shelf div.tabungan div.top div.left div.quantity h3 {
  font-size: 14px;
}
section.content div.right div.shelf div.tabungan div.top div.left div.quantity h2 {
  font-size: 26px;
}
section.content div.right div.shelf div.tabungan div.top div.scroll {
  height: 48px;
  width: 48px;
  background-image: url(assets/chevron-right-2.svg);
}
section.content div.right div.shelf div.tabungan div.top div.scroll:hover {
  opacity: 0.5;
}
section.content div.right div.shelf div.tabungan div.bottom {
  height: 50%;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #4b4a54e0;
  display: flex;
  flex-direction: row;
  color: #fff;
}
section.content div.right div.shelf div.tabungan div.bottom div.drawer1 {
  width: 33%;
  border-right: 1px solid #151d2a;
  display: flex;
  align-items: last baseline;
  justify-content: center;
  font-size: 12px;
  padding-bottom: 20px;
}
section.content div.right div.shelf div.tabungan div.bottom div.drawer1 a {
  color: #fff;
  text-decoration: none;
}
section.content div.right div.shelf div.tabungan div.bottom div.drawer1 a:hover {
  opacity: 0.8;
}
section.content div.right div.shelf div.tabungan div.bottom div.drawer2 {
  width: 33%;
  border-right: 1px solid #151d2a;
  display: flex;
  align-items: last baseline;
  justify-content: center;
  font-size: 12px;
  padding-bottom: 20px;
}
section.content div.right div.shelf div.tabungan div.bottom div.drawer2 a {
  color: #fff;
  text-decoration: none;
}
section.content div.right div.shelf div.tabungan div.bottom div.drawer2 a:hover {
  opacity: 0.8;
}
section.content div.right div.shelf div.tabungan div.bottom div.drawer3 {
  width: 34%;
  display: flex;
  align-items: last baseline;
  justify-content: center;
  font-size: 12px;
  padding-bottom: 20px;
}
section.content div.right div.shelf div.tabungan div.bottom div.drawer3 a {
  color: #fff;
  text-decoration: none;
}
section.content div.right div.shelf div.tabungan div.bottom div.drawer3 a:hover {
  opacity: 0.8;
}
section.content div.right div.shelf div.box:nth-child(2) {
  background-color: #545d6b;
  padding-left: 32px;
  padding-right: 32px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
section.content div.right div.shelf div.box:nth-child(2) div.left {
  width: 230px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
section.content div.right div.shelf div.box:nth-child(2) div.left div.prof {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #fff;
}
section.content div.right div.shelf div.box:nth-child(2) div.left div.text a {
  color: #fff;
  text-decoration: none;
}
section.content div.right div.shelf div.box:nth-child(2) div.left div.text a:hover {
  opacity: 0.8;
}
section.content div.right div.shelf div.box:nth-child(2) div.right {
  height: 48px;
  width: 48px;
  background-image: url(assets/chevron-right-2.svg);
}
section.content div.right div.shelf div.box:nth-child(2) div.right:hover {
  opacity: 0.5;
}
section.content div.right div.shelf div.box:nth-child(3) {
  /* background-color: #007780; */
  background-color: #597180;
}
section.content div.right div.shelf div.box:nth-child(4) {
  /* background-color: #12a889; */
  background-color: #5d8791;
}
section.content div.right div.shelf div.box:nth-child(5) {
  /* background-color: #87d47c; */
  background-color: #679c9b;
}
section.content div.right div.shelf div.box:nth-child(6) {
  background-color: #7db19f;
}
section.content div.right div.shelf div.box {
  height: 120px;
  width: 100%;
  border-radius: 12px;
  margin-top: 8px;
}
footer {
  background-color: #303030;
  margin-top: auto;
  display: flex;
  justify-content: center;
}
footer div.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  margin-top: 24px;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 24px;
}
footer div.container div.top {
  margin-bottom: 16px;
}
footer div.container div.top a {
  padding-right: 70px;
  text-decoration: none;
  color: #fff;
  word-wrap: break-word;
  font-size: 14px;
  transition: 0.2s ease;
}
footer div.container div.top a:hover {
  opacity: 0.8;
}
footer div.container span {
  height: 0.1px;
  width: calc(1440 - 90px);
  opacity: 0.5;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
footer div.container div.bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
footer div.container div.bottom div.left {
  word-wrap: break-word;
  opacity: 0.5;
  font-size: 14px;
}
footer div.container div.bottom div.right {
  float: right;
}
footer div.container div.bottom div.right a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  padding-left: 20px;
  transition: 0.2s ease;
}
footer div.container div.bottom div.right a:hover {
  opacity: 0.8;
}
footer div.container div.top a:nth-child(4),
footer div.container div.top a:nth-child(5) {
  display: none;
}
