<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>MyIGS - {{ title }}</title>
    {% else %}
    <title>MyIGS</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/dashboard/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/dashboard/dashboard.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/dashboard/dashboard-responsive.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  </head>
  <body>
        {% include 'components/header_login.html' %}

        {% block content %}{% endblock content %}

        {% include 'components/footer.html' %}
  </body>
  <script src="{{ url_for('static', filename='js/pages/dashboard/dashboard.js') }}"></script>
</html>
