@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    color: white;
    background-color: #172D51;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
div.blank{
    width: 100vw;
    height: 80px;
    background: transparent;
}
header {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: 0.2s ease;
    position: fixed;
    top: 0px;
    padding-bottom: 30px;
}


header div.container{
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 90px;
    width: 1375px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    color: white;
    z-index: 100;
}

header.fixed{
    z-index: 100;
    background-color: #23343F;
}

header div.container div.logo{
    width: 160px;
    height: 40px;
    background-image: url(assets/Logo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
header div.container div.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
header div.container div.left div.call{
    width: 25px;
    height: 25px;
    background-image: url(assets/bx-phone.svg);
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    transition: 0.2s ease-in-out
}

header div.container div.left div.call:hover{
    opacity: 0.7;
    transition: 0.2s ease-in-out;
}

header div.container div.left div.language{
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
}

header div.container div.left div.language div.arrow{
    display: none;
    position: absolute;
    background-image: url(assets/arrow.svg);
    width: 25px;
    height: 25px;
    transform: translate(25px, -23px);
    background-size: 100% 100%;
    transition: 0.2s ease;
    background-position: center;
    filter: brightness(2);
}

header div.container div.left div.language:hover div.arrow{
    display: flex;
}

section.content{
    position: absolute;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.content div.container{
    margin-bottom: 8vh;
    width: 1440px;
    margin-top: 20px;
    height: fit-content;
    margin-left: 90px;
    margin-right: 90px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
    
}

section.content div.container div.left{
    width: 50%;
    height: 100%;
    padding-top: 6px;
    
    display: flex;  
    justify-content: flex-start;
    flex-direction: column;
}

section.content div.container div.left div.top{
    display: flex;
    flex-direction: column;
    gap: 16.2px;
    
}

section.content div.container div.left div.top h1{
    font-size: 32px;
    margin-top: 10px;
    word-wrap: break-word;
    font-weight: 300;
    padding-bottom: 6.7;
}

section.content div.container div.left div.top h2{
    font-size: 24px;
    word-wrap: break-word;
    font-weight: 300;
}

section.content div.container div.left div.bottom div.image{
    margin-top: 50px;
    width: 465px;
    height: 343px;
    background-image: url(assets/Photo.png);
    
    background-size: 100% 100%;
}

section.content div.container div.right{
    width: 47%;
    height: 100%;
    padding-top: 6px;
    display: flex;  
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
    color: white;
}

section.content div.container div.right div.inputbox{
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    width: 100%;
    height: 64px;
}

section.content div.container div.right div.inputbox label{
    color: white;
    font-size: 12px;
    font-family: Lato;
    font-weight: 500;
    line-height: 22px;
}

section.content div.container div.right div.inputbox input{
    background-color: transparent;
    border: none;
    height: fit-content;
    width: 100%;
    border-bottom: 1px solid white;
    outline: none;
    color: #C5D1D8;
    font-weight: 300;
    padding-bottom: 6px;
    font-size: 24px;
}

section.content div.container div.right div.inputbox input::placeholder{
    color: #C5D1D8;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    word-wrap: break-word;
}

section.content div.container div.right div.inputbox:nth-child(3){
    display: flex;
    flex-direction: row;
    gap: 16px;
}

section.content div.container div.right div.inputbox:nth-child(3) div.input{
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    width: 432px;
    height: 64px;
}

section.content div.container div.right div.inputbox:nth-child(3) div.input input{
    width: 432px;
}

section.content div.container div.right div.inputbox:nth-child(3) div.captcha{
    width: 86px;
    height: 56px;
    background-image: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

section.content div.container div.right div.inputbox:nth-child(3) div.change{
    color: white;
    text-decoration: none;
    font-weight: bold;
    height: 70%;
    display: flex;
    transform: translateY(15px);
    justify-content: center;
    align-items: center;
}

section.content div.container div.right div.inputbox:nth-child(3) div.change a{
    color: white;
    font-size: 16px;
    font-family: Lato;
    font-weight: 500;
    text-decoration: underline;
    text-align: center;
    word-wrap: break-word
}

section.content div.container button{
    height: 40px;
    width: 103px;
    border-radius: 200px;
    border: none;
    background: #008873;
    color: white;
    font-size: 16px;
    font-family: Lato;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.12px;
    cursor: pointer;
    word-wrap: break-word;
    transition: 0.2s ease;
}

section.content div.container button:hover,
section.content div.container button:focus{
    background: #036758;
    transition: 0.2s ease;
}

section.content div.container a#Register,
section.content div.container a#Forgot{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}

section.content div.container a#Register:hover,
section.content div.container a#Forgot:hover{
    text-decoration: underline;
}

footer {

    position: absolute;
    bottom: 0px;
    height: fit-content;
    width: 100vw;
    background-color: #121f26;
    display: flex;
    justify-content: center;
}
footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    margin-top: 24px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 24px;
}
footer .container .top {
  margin-bottom: 16px;
}
footer .container .top a {
  padding-right: 70px;
  text-decoration: none;
  color: #fff;
  word-wrap: break-word;
  font-size: 14px;
  transition: 0.2s ease;
}

footer .container .top a:hover{
    opacity: 0.8;
}

footer .container span {
  height: 0.1px;
  width: calc(1440px - 90px);
  opacity: 0.5;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
footer .container .bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
footer .container .bottom .left {
  word-wrap: break-word;
  opacity: 0.5;
  font-size: 14px;
}
footer .container .bottom .right {
  float: right;
}
footer .container .bottom .right a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  padding-left: 20px;
  transition: 0.2s ease;
}

footer .container .bottom .right a:hover{
    opacity: 0.8;
}