:root {
  --primary-color: #fff;
  --text : black;
  --header--fixed : #faf7ff50;
  --languagenav : #5E5E5E;
  --languagenav-line : gray;
  --languagenav-text : #fff;
  --input-text : #303030;
  --section-form-button : #000;
  --section-form-button-hover : #5E5E5E;
  --footer : #303030;
  --footer-text : #fff;
  --footer-line : gray;
  --hidenav-button : black;
  --hidenav-background : #303030;
  --hidenav-text : #fff;
  --hidenav-language-text: #000;
  --hidenav-language-line: gray;
}
