@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    color: white;
    background-color: var(--primary-color);
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

div.blank {
  width: 100vw;
  height: 80px;
  background: transparent;
}
header {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: 0.2s ease;
  position: fixed;
  top: 0px;
  padding-bottom: 30px;
  z-index: 100;
}

header div.container {
  margin-top: 20px;
  margin-left: 90px;
  margin-right: 90px;
  width: 1375px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  /* z-index: 100; */
}

header.fixed {
  z-index: 100;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid #faf7ff50 ;
}

header div.container div.logo{
    width: 160px;
    height: 65px;
    background-image: url('https://res.cloudinary.com/dgrc4yo0j/image/upload/v1704184277/igs-logos_rddh7e.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 101;
    transform: translate(-8px, -14px);
}
header div.container div.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  position: relative;
}
header div.container div.left div.call{
    width: 25px;
    height: 25px;
    background-image: url(assets/bx-phone.svg);
    z-index: 101;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    transform: translateY(-15px);
}

header div.container div.left div.call:hover {
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}

header div.container div.left div.language{
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    z-index: 101;
    user-select: none;
    transform: translateY(-14px);
}

header div.container div.left div.language div.arrow{
    display: none;
    position: absolute;
    background-image: url(assets/arrow.svg);
    width: 25px;
    height: 25px;
    top: 0px;
    left: 20px;
    background-size: 100% 100%;
    transition: 0.2s ease;
    background-position: center;
    filter: brightness(2);
    z-index: 101;
}

header div.container div.left div.language:hover div.arrow {
  display: flex;
}

header div.container div.left div.language div.arrow.show{
  transform: rotate(180deg);
}

header div.container div.left div.languageHide{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 95px;
    height: 110px;
    background-color: #5E5E5E;
    position: absolute;
    border-radius: 5px;
    top: 20px;
    left: -13px;
    z-index: 101;
    max-height: 0px;
    transition: 0.3s ease;
}
header div.container div.left div.languageHide.show{
    max-height: 200px;
}
@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
header div.container div.left div.languageHide::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 9px solid #5E5E5E;
    position: absolute;
    top: -7px;
    left: 60px;
    opacity: 0;
    transition: 0.1s ease;
}

header div.container div.left div.languageHide.show::before{
  opacity: 1;
}

header div.container div.left div.languageHide div.wrapper{
    padding-left: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 40%;
}

header div.container div.left div.languageHide div.wrapper:hover{
  padding-left: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 40%;
  opacity: 0.8;
}

header div.container div.left div.languageHide div.wrapper input[type = "checkbox"]{
  margin-left: 7px;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  outline: none;
}

header div.container div.left div.languageHide div.wrapper input[type = "checkbox"]::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f00c";
  font-size: 20px;
  color: white;
  display: none;
}

header div.container div.left div.languageHide div.wrapper input[type = "checkbox"]:checked::after{
  display: block;
}


header div.container div.left div.languageHide div#ID{
    gap: 15px;
}

header div.container div.left div.languageHide span.line{
    width: 100%;
    height: 1px;
    background-color: gray;
    opacity: 0.7;
}
header div.container button.hamburger {
  display: none;
}
nav.mobile-nav {
  display: none;
  transition: 2s ease;
}
section.content {
  position: absolute;
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.content form {
  margin-bottom: 5vh;
  width: 1440px;
  margin-top: 0px;
  height: fit-content;
  margin-left: 90px;
  margin-right: 90px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 100px;
}

section.content form div.left {
  width: 50%;
  height: 100%;
  padding-top: 6px;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

section.content form div.left div.top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
}

section.content form div.left div.top h1 {
  font-size: 50px;
  margin-top: 10px;
  word-wrap: break-word;
  font-weight: 300;
  padding-bottom: 6.7;
}

section.content form div.left div.top h2 {
  font-size: 25px;
  word-wrap: break-word;
  font-weight: 300;
}

section.content form div.left div.bottom div.image{
    margin-top: 50px;
    width: 465px;
    height: 343px;
    background-image: url();
    
    background-size: 100% 100%;
}

section.content form div.right{
    width: 47%;
    height: 100%;
    padding-top: 15px;
    display: flex;  
    justify-content: flex-start;
    flex-direction: column;
    gap: 35px;
    user-select: none;
    color: #000;
    transform: translateY(55px) scale(1.2);
}

section.content form div.right div.inputbox{
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    width: 100%;
    height: 64px;
    user-select: none;
}

section.content form div.right div.inputbox label {
  color: #000;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  line-height: 22px;
}

section.content form div.right div.inputbox input {
  background-color: transparent;
  border: none;
  height: fit-content;
  width: 89%;
  border-bottom: 1px solid #000;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #303030;
  font-weight: 300;
  padding-bottom: 6px;
  font-size: 28px;
}

section.content form div.right div.inputbox input::placeholder {
  color: #303030;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  word-wrap: break-word;
}
section.content form div.right button{
    margin-top: 5px;
    height: 40px;
    width: 113px;
    border-radius: 200px;
    border: none;
    background: var(--tertiary-color-3);
    color: #fff;
    font-size: 20px;
    font-family: Lato;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.12px;
    cursor: pointer;
    word-wrap: break-word;
    transition: 0.2s ease;
}

section.content form button:hover,
section.content form button:focus{
    background: var(--tertiary-color-1);
    transition: 0.2s ease;
}

section.content form a#Register,
section.content form a#Forgot {
  color: #000;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;;
  font-weight: 400;
  font-size: 20px;
}

section.content form a#Forgot{
  transform: translateY(-5px);
}

section.content form a#Register:hover,
section.content form a#Forgot:hover {
  text-decoration: underline;
}

footer {

    position: absolute;
    bottom: 0px;
    height: fit-content;
    width: 100vw;
    background-color: var(--secondary-color-1);
    display: flex;
    justify-content: center;
    font-family:  'Quicksand', sans-serif;
}
footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  margin-top: 24px;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 24px;
}
footer .container .top {
  margin-bottom: 16px;
}
footer .container .top a {
  padding-right: 70px;
  text-decoration: none;
  color: #fff;
  word-wrap: break-word;
  font-size: 14px;
  transition: 0.2s ease;
}

footer .container .top a:hover {
  opacity: 0.8;
}

footer .container span{
  height: 0.1px;
  width: calc(1440px - 90px);
  opacity: 0.5;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
footer .container .bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
footer .container .bottom .left {
  word-wrap: break-word;
  opacity: 0.5;
  font-size: 14px;
}
footer .container .bottom .right {
  float: right;
}
footer .container .bottom .right a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  padding-left: 20px;
  transition: 0.2s ease;
}

footer .container .bottom .right a:hover {
  opacity: 0.8;
}

footer div.container div.top a:nth-child(4),
footer div.container div.top a:nth-child(5) {
  display: none;
}
