:root {
    --body--color: #fff;
    --header--color: rgba(255, 255, 255, 0.1);
    --header--border: rgba(255, 255, 255, 0.2);
    --header--logo: url(assets/igs-logos.png);
    --header--mail: url(assets/mail-2.svg);
    --header--phone: url(assets/phone.svg);
    --header--bell: url(assets/bell.svg);
    --header--prof: url(assets/user.svg);
    --header--text: #000;
    --header--prof--border: #000;
    --header--prof--hover: #c6c6c681;
    --header--profnav: #fff;
    --header--profnav--show: #fff;
    --header--prof--arrow: url(assets/chevron-down.svg);
    --header--profnav--boxshadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.474);
    --header--profnav--wrapper--background: #fff;
    --header--profnav--wrapper--hover: rgba(128, 128, 128, 0.25);
    --header--profnav--boxicon--color: #525252;
    --header--profnav--languagenav-wrapper: #efefef;
    --header--profnav--languagenav-span: #d3d3d3b3;
    --header--profnav--languagenav-hover: rgba(128, 128, 128, 0.17);
    --header--profnav--DarkmodeWrapper: rgba(0, 0, 0, 0.1);
    --header--profnav--Darkmodeswitch: #b4b4b4;
    --header--profnav--Darkmodebtn: #fff;
    --header--notif--hidebox--background: #fff;
    --header--notif--hidebox--right--border: rgba(0, 0, 0, 0.449);
    --header--notif--hidebox-boxshadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.474);
    --header--notif--hidebox--right--color: rgba(0, 0, 0, 0.722);
    --header--notif--hidebox--unread--background: #f2f4f7;
    --header--notif--hidebox--unread--color: #3d495c;
    --header--notif--hidebox--line--color: black;
    --header--notif--hidebox--line--name-background: #f2f4f7;
    --header--notif--hidebox--line--name-color: #404564;
    --header--notif--hidebox--notifications-color: purple;
    --header--notif--hidebox--after: rgb(238, 238, 238);
    --hamburgermenu--background: black;
    --mobile-nav--background: #fff;
    --mobile-nav--imageProf: url(assets/user.svg);
    --mobile-nav--cross--background: black;
    --mobile-nav--wrapper--a--color: black;
    --mobile-nav--profile--box--color: black;
    --mobile-nav--wrapper--language--background: rgba(124, 124, 124, 0.686);
    --mobile-nav--wrapper--language--hover: rgba(128, 128, 128, 0.103);
    --mobile-nav--wrapper--hover: rgba(128, 128, 128, 0.25);
    --mobile-nav--boxicon--color: black;
    --mobile-nav--Darkmodeswitch: #b4b4b4;
    --mobile-nav--Darkmodebtn: #fff;
    --mobile-nav--DarkmodeWrapper: rgba(0, 0, 0, 0.1);
    --sectioncontent--h1: black;
    --sectioncontent--h2: black;
    --content--left--bar--background: #fff;
    --content--left--bar--background--hover: #c6c6c681;
    --content--left--bar--border: #000000;
    --content--left--bar--color: #000;
    --content--left--bar--boxshadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.474);
    --content--info: blsck;
    --content--right--absensi--top--background: #01475d;
    --content--right--absensi--bottom--background: #01475de0;
    --content--right--absensi--color: #fff;
    --content--right--achievement--background: #007780;
    --content--right--achievement--color: #fff;
    --content--right--serti--background: #12a889;
    --content--right--grade--background: #47ba86;
    --footer--background: #303030;
    --footer--color: #fff;
    --footer--line: gray;
  }
  
  body.dark {
    --body--color: #151d2a;
    --header--color: rgba(255, 255, 255, 0.1);
    --header--border: rgba(255, 255, 255, 0.2);
    --header--logo: url(assets/igs-invert.png);
    --header--mail: url(assets/mail.svg);
    --header--phone: url(assets/phone-2.svg);
    --header--bell: url(assets/bell-2.svg);
    --header--prof: url(assets/user-2.svg);
    --header--text: #fff;
    --header--prof--border: #fff;
    --header--prof--hover: #c6c6c681;
    --header--prof--arrow: url(assets/chevron-down-2.svg);
    --header--profnav: #151d2a;
    --header--profnav--show: #151d2a;
    --header--profnav--boxshadow: 1px 0px 2px 1.7px rgba(255, 255, 255, 0.2);
    --header--profnav--wrapper--background: #151d2a98;
    --header--profnav--wrapper--hover: gray;
    --header--profnav--boxicon--color: #fff;
    --header--profnav--languagenav-wrapper: #1b2536;
    --header--profnav--languagenav-span: rgba(124, 124, 124, 0.686);
    --header--profnav--languagenav-hover: rgba(128, 128, 128, 0.17);
    --header--profnav--DarkmodeWrapper: rgba(29, 41, 59, 0.576);
    --header--profnav--Darkmodeswitch: #0081c6;
    --header--profnav--Darkmodebtn: #fff;
  
    --header--notif--hidebox--background: #151d2a;
    --header--notif--hidebox--right--border: #fff;
    --header--notif--hidebox--right--color: #fff;
    --header--notif--hidebox--unread--background: #151d2a;
    --header--notif--hidebox-boxshadow: 0px 1px 2px 1px rgba(255, 255, 255, 0.2);
    --header--notif--hidebox--unread--color: #fff;
    --header--notif--hidebox--line--color: #fff;
    --header--notif--hidebox--line--name-background: black;
    --header--notif--hidebox--line--name-color: #fff;
    --header--notif--hidebox--notifications-color: violet;
    --header--notif--hidebox--after: rgb(0, 0, 48);
    --hamburgermenu--background: #fff;
    --mobile-nav--background: #151d2a;
    --mobile-nav--imageProf: url(assets/user-2.svg);
    --mobile-nav--cross--background: #fff;
    --mobile-nav--wrapper--a--color: #fff;
    --mobile-nav--wrapper--hover: rgba(128, 128, 128, 0.25);
    --mobile-nav--profile--box--color: #fff;
    --mobile-nav--wrapper--language--background: rgba(124, 124, 124, 0.686);
    --mobile-nav--wrapper--language--hover: rgba(128, 128, 128, 0.103);
    --mobile-nav--boxicon--color: #fff;
    --mobile-nav--Darkmodeswitch: #0081c6;
    --mobile-nav--Darkmodebtn: #fff;
    --mobile-nav--DarkmodeWrapper: rgba(29, 41, 59, 0.576);
    --sectioncontent--h1: #fff;
    --sectioncontent--h2: #fff;
    --content--left--bar--background: #151d2a;
    --content--left--bar--background--hover: #25334b;
    --content--left--bar--border: #000000;
    --content--left--bar--color: #fff;
    --content--left--bar--boxshadow: 0px 2px 5px 1px rgba(265, 265, 265, 0.2);
    /* --content--right--absensi--top--background: #e1bdcd;
    --content--right--absensi--bottom--background: #e1bdcde0;
    --content--right--absensi--color: #fff;
    --content--right--achievement--background: #af99ab;
    --content--right--achievement--color: #fff;
    --content--right--serti--background: #807787;
    --content--right--grade--background: #575762; */
    --content--info: #fff;
    --content--right--absensi--top--background: #01475d;
    --content--right--absensi--bottom--background: #005e7ae0;
    --content--right--absensi--color: #fff;
    --content--right--achievement--background: #007780;
    --content--right--achievement--color: #fff;
    --content--right--serti--background: #12a889;
    --content--right--grade--background: #47ba86;
    --footer--background: #002935;
    --footer--color: #fff;
    --footer--line: gray;
  }
  