<footer>
    <div class="container">
        <div class="top">
        <a href="#">Tentang MyIGS</a>
        <a href="#">Fitur Layanan</a>
        <a href="#">Hubungi Kami</a>
        <a href="#">Syarat dan Ketentuan</a>
        <a href="#">Kebijakan Privasi</a>
        </div>
        <span></span>
        <div class="bottom">
        <div class="left">
            <p>&copy <small id="yearText"></small> - Ignatius Global School Palembang.</p>
        </div>
        <div class="right">
            <a href="#">Syarat dan Ketentuan</a>
            <a href="#">Kebijakan Privasi</a>
        </div>
        </div>
    </div>
</footer>