<!-- header -->
<header>
    <div class="header--container">
      <div class="header--logo"></div>
      <ul class="header--bar">
        <li><a href="#">HOME</a></li>
        <li><a href="#">ACCOUNTS</a></li>
        <li><a href="#">SERVICES</a></li>
      </ul>
      <div class="header--account">
        <div class="header--mail"></div>
        <div class="header--icon"></div>
        <div class="header--call"></div>
        <div class="header--language">
          <p>ID</p>
        </div>
        <div class="header--prof"></div>
      </div>
      <button class="hamburger">
        <div class="bar"></div>
      </button>
    </div>
  </header>
  <!-- mobilenav -->
  <nav class="mobile-nav">
    <div class="mobile-menu">
      <a href="#">HOME</a>
      <div class="line"></div>
      <a href="#">ACCOUNTS</a>
      <div class="line"></div>
      <a href="#">SERVICES</a>
      <div class="line"></div>
    </div>
  </nav>