<div class="blank"></div><!-- cm buat tambahan di bagian belakang biar ga bergerak -->
<!-- header -->
<header>
    <div class="container" id="nav">
        <div class="logo">

        </div>
        <div class="left">
            <div class="call">
            </div>
            <div class="language" id="langBtn">
                ID <div class="arrow"></div>
            </div>
            <div class="languageHide" id="langNav">
                <li id="id">ID <span class="check" id="check1"></span></li>
                <span class="line">

                </span>
                <li id="en">EN <span class="check" id="check2"></span></li>
            </div>
        </div>
        <button class="hamburger">
            <div class="bar"></div>
        </button>
    </div>
    </div>
</header>
<!-- hidenav -->
<nav class="mobile-nav" id="HideNav">
    <div class="header">
      <div class="language" id="langBtn2">
        ID <div class="arrow" id="arrow"></div>
      </div>
      <div class="languageHide" id="langNav2">
        <li id="id">ID <span class="check" id="check1"></span></li>
        <span class="line">

        </span>
        <li id="en">EN <span class="check" id="check2"></span></li>
      </div>
      <button class="hamburger_Second">
        <div class="bar"></div>
      </button>
    </div>
      <section class="container">
        <a href="#">MY IGS</a>
        <span class="one"></span>
        <a href="#">HUBUNGI KAMI</a>
        <span class="two"></span>
      </section>
  </nav>